-
  var menus = [
    { title: "Welcome", submenu: [{title: 'Header:Image'}, {title:'Header:Carousel'}, {title: 'Header:Parallax'}, {title:'Header:video'}], active: true},
    { title: "Landings", submenu: [{title: 'app'}, {title:'company'}, {title:'fullpage'}, {title:'product'}, {title:'real estate'}] },
    { title: "Support", submenu: [{title: 'blog', childmenu: [{title: 'blog'}, {title:'blog-post'}]}, {title:'shop',childmenu: [{title: 'shop'}, {title:'shop-item'}, {title:'shop-cart'}]}, {title:'about'}, {title:'contact'}, {title:'faq'}]},
    { title: "Components", submenu: [{title: 'theme'}, {title:'bootstrap'}]},
    { title: "Documentation"},
    { title: "Purchase Now"}
  ];

mixin main-menu()
    nav#main-menu-container 
        ul.main-menu
            each item in menus
                li.main-menu__item.js-menu-item(class=item.submenu ? 'main-menu__item--has-children' : '', class=item.active ? 'main-menu__item--active' : '')
                    a.main-menu__link.js-menulink(href= href ? href : "#")= item.title
                    if item.submenu 
                        ul.sub-menu.js-submenu
                            each sub in item.submenu
                                li.main-menu__item.js-sub-item(class=sub.childmenu ? 'sub-menu__item--has-children' : '', class= sub.active ? 'main-menu__item--active' : '')
                                    a.main-menu__link(href= href ? href : "#")= sub.title
                                    if sub.childmenu
                                        ul.child-menu.js-chilmenu
                                            each child in sub.childmenu
                                                li.main-menu__item.js-child-item
                                                    a.main-menu__link(href= href ? href : "#")= child.title
                                                      
